.contact-form {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 10px;
}

.contact-form .input {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 80%;
}

.contact-form .input a {
    height: 100%;
    width: 205px;
    border-radius: 10px;
}

.contact-form .input {
    margin: 0; 
    padding: 0;
}